[submodule "lib/microbit-dal"]
	path = lib/microbit-dal
	url = https://github.com/lancaster-university/microbit-dal
[submodule "lib/microbit"]
	path = lib/microbit
	url = https://github.com/lancaster-university/microbit
[submodule "lib/BLE_API"]
	path = lib/BLE_API
	url = https://github.com/lancaster-university/BLE_API
[submodule "lib/nrf51-sdk"]
	path = lib/nrf51-sdk
	url = https://github.com/lancaster-university/nrf51-sdk
[submodule "lib/nRF51822"]
	path = lib/nRF51822
	url = https://github.com/lancaster-university/nRF51822.git
[submodule "lib/microbit-targets"]
	path = lib/microbit-targets
	url = https://github.com/lancaster-university/microbit-targets.git
